.HomePage {
  background-color: #212121;
  height: 100vh;
}


.HomePageContainer {
  padding: 20px;
}

/*Tab styles*/
.HomePageTitle {
  font-size: 1.4rem;
  color: #FAFAFA;
  text-align: center;

  margin: 20px;

  transition: 0.2s;
}

.HomePageTitle:hover{
  color: #1976D2;
}

.HomePageTitleSelected {
  color: #0D47A1;
}


/*Create button*/
.HomePageButtonContainer {
  display: flex;
  justify-content: flex-end;

  margin: 20px;
}

.HomePageButton {
  background-color: #212121 ;
  color: #FAFAFA;

  padding: 10px 15px;

  border-radius: 6px;
  border: 2px solid #212121;
  transition: 0.2s;
}

.HomePageButton:hover{
  background-color: transparent ;
  color: #0D47A1;

  border-radius: 6px;
  border: 2px solid #0D47A1;
}
 

#ModalButton {
  background-color: #212121 !important; 
  margin: 10px 0;
}