.HomePageContainer {
  background-color: #37474F;

  height: 100vh;
}

.HomePageRowContainer{
  padding: 20px 0;
}
 

.HomePageButtonContainer {
  text-align: end;
}


/*Tab styles*/
.HomePageTitle {
  font-size: 1.4rem;
  color: #FAFAFA;
  transition: 0.2s;
}

.HomePageTitle:hover{
  color: #272525;
}

.HomePageTitleSelected {
  color: #212121;

}


/*Create button*/
.HomePageButton {
  background-color: #212121;
  color: #212121;
}


/*Modal Styles*/
.HomePageModal {
  background-color: #37474F;
}

.HomePageButton {
  background-color: #212121;
  color: #FAFAFA;

  margin: 20px 0 0 0 ;
}