.LoginPageContainer {
 
  display: flex;
  background-color: #212121;

  align-items: center;

  width: 100vw;
  height: 100vh;
}

.LoginPageFormContainer {
  background-color: #EEEEEE;  
  text-align: center;

  margin: 0 auto;
  padding: 40px;

  border-radius: 20px;
}

/*Buttons*/
.Button {
  width: 40%;

  padding: 10px;
  border-radius: 10px;

  transition: 0.2s;
}

.LoginButton {
  background-color: #212121 !important;
  color: #EEEEEE;
}

.LoginButton:hover{
  color: #212121 !important;
  background-color: transparent !important;
  border: 2px solid #263238 !important;
}

.SignUpButton {
  color: #212121 !important;
  background-color: #EEEEEE !important;
}

.SignUpButton:hover{
  color: #EEEEEE !important;
  background-color: #212121 !important;
  border: 2px solid #EEEEEE !important;
}

#LoginTitle {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;

  color: #212121;
  margin: 10px 0 30px 0 ;
}

#LoginText {
  font-size: 1.4rem;
  margin: 20px 0;
}