.LoginPageContainer {
 
  display: flex;
  background-color: #212121;

  align-items: center;
  height: 100vh;
}

.LoginPageFormContainer {
  background-color: #EEEEEE;  
  text-align: center;

  margin: 0 auto;
  padding: 40px;

  border-radius: 20px;
}


.Button {
  width: 50%;

  padding: 10px;
  border-radius: 10px;

  transition: 0.2s;
}

.LoginButton {
  background-color: #212121;
  color: #EEEEEE;
}

.LoginButton:hover{
  color: #212121;
  background-color: transparent;
  border: 2px solid #263238 ;
}

.SignUpButton {
  color: #212121;
  background-color: #EEEEEE;
}

.SignUpButton:hover{
  color: #212121;
  background-color: transparent;
  border: 2px solid #263238 ;
}

#Title {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;

  color: #212121;
  margin: 0 0 ;
}

#LoginText {
  font-size: 1.4rem;
  margin-top: 20px;
}