.NavbarContainer {
  background-color: #212121;
}

.NavbarTitle {
  color: #FAFAFA;
  font-size: 2rem;
  margin: 20px;
}

.NavbarLogo{
  width: 100%;
}

#LogoutText {
  color: #FAFAFA;
  font-size: 1rem;
  text-align: end;

  display: flex;
  align-items: center;
  justify-content: end;
  
  margin: 20px;

  transition: 0.2s;
}

#LogoutText:hover {
  color: #EF5350;
  margin: 20px;
}