.Tweet {
  border: 2px solid #607D8B;
  border-radius: 10px;

  color: #ECEFF1;

  height: 100px;

  margin: 5px;
  padding: 15px;

  display: flex;
  justify-content: space-between;

  transition: 0.2s
}

.Tweet:hover {
  border: 2px solid #ECEFF1; 
}

/*Container that contains the picture*/
.Tweet > .PictureContainer{
  margin-right: 10px;
}


.TweetPicture {
  width: 50px;
  height: 50px;

  border-radius: 50px;
}

.Tweet > .TextContainer {
  flex: 1;
}

.TextContainer > .TextContainerName {
  font-size: 1.1rem;
  font-weight: bold;
}