.TweetContainer {
  border: 2px solid #607D8B;
  border-radius: 5px;

  width: 100%;
  height: 100px;

  margin: 5px 0;

  transition: 0.2s
}

.TweetContainer:hover {

  border: 2px solid #ECEFF1; 

}

.TweetPicture {
  width: 80px;
  height: 80px;

  border-radius: 50px;
}

.TweetDescription {
  color: #ECEFF1;
}